* {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

html, body {
  height: 100%;
  margin: 0;
}

.display-1 {
  color: #FFFFFF;
  font-family: 'Aldrich';
}

.h2 {
  color: #FFFFFF;
}

.card-discord {
  background-color: lightgray;
}

.container-fluid {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  /*background-color: #DBCDD5;*/
  background-color: #42474c;
}

.Welcome {
  font-size: 10vw;
  color: #121B18;
  text-align: center;
}

.Description {
  font-size: 16px;
  text-align: center;
  border-bottom: solid;
  border-color: #8c8f9c;
  border-width: 2px;
  max-width: 60vw;
  margin-left: 20vw;
}

.OAuthButton {
  margin: auto;
  display: block;
  font-size: 24px;
  min-width: 30vw;
  min-height: 6vw;
  max-width: 15em;
  max-height: 6em;
  line-height: 3em;
  border-radius: 100px;
  border: none;
  background-color: #7289DA;
}

.SpotButton {
  background: #1DB954;
  color: white;
}

.FollowList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2vw;
}

.ArtistRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  max-width: 40vw;
  margin-left: 30vw;
  align-items: baseline;
  margin-bottom: 4vw;
  border-bottom: solid;
  border-left: solid;
  padding: 2vw;
  border-color: darkgrey;
  border-width: 1px;
  box-shadow: 3px 2px #8c8f9c;
  border-radius: 10px;
}

.ArtistRow:hover {
  background: lightgray;
  box-shadow: none;
  border-top: solid;
  border-right: solid;
  border-bottom: none;
  border-left: none;
  border-color: darkgrey;
  border-width: 1px;
}

.ArtistName {
  max-width: 60%;
}


.UnfollowBtn {
  background: #1DB954;
  color: white;
  max-width: 40%;
  width: 6em;
  height: 2.5em;
  border-radius: 100px;
  border: none;
  box-shadow: 2px 1px #8c8f9c;
}


.UnfollowBtn:hover {
  background: rgb(39, 146, 76);
  box-shadow: none;
}

.NavBar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start safe;
  align-items: baseline;
  background: #91442F;
}

.NavBar > a {
  color: white;
  padding: 2;
  white-space: nowrap;
}

.NavBar > a:hover {
  background: rgb(109, 55, 40);
  text-decoration: none;
}

.Filler {
  visibility: hidden;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start safe;
  align-items: baseline;
}

.Filler > a {
  padding: 2em;
}

.btn-discord {
  background-color: #7289DA;
  font: 22px;
}

@media only screen and (max-width: 768px){

  .NavBar > a {
    padding-top: .5em;
    padding-bottom: .5em;
    white-space: nowrap;
  }
 
  .Welcome {
    font-size: 20vw;
  }

  .ArtistRow {
    font-size: 12px;
  }

  .text-discord {
    color: #8c8f9c;
  }

}
